.about-wraper{
  
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
 
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
  &__item {
    border: 1px solid $gray;
    width: 206px;
    height: 249px;
    margin-right: 22px;
    &:last-child{
      margin-right: 0;
    }

  }
}
.title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.item-box{

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: Century Gothic;
font-style: normal;
font-size: 15px;

  &__img{
    width: 41px;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 28px;
  }
&__title{
  font-weight: bold;

  &:hover{
    color: $red;
    cursor: pointer;
  }

}
&__desc{
  font-weight: normal;

}
}
@media (max-width: 1024px){
 
  .title{
    font-size: 14px;
  }
 .about__list{
   flex-direction: row;
   flex-wrap: wrap;

   

 }
 .about__item{
   margin-bottom: 20px;
   margin-right: 0;
 }
}

@media (max-width: 768px){
  .title{
    font-size: 14px;
  }
 .about__list{
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: -20px;

 }
 .about__item{
   margin-bottom: 20px;
   margin-right: 20px;
 }
}

@media (max-width: 320px), (max-width: 480px){
  .title{
    font-size: 14px;
  }
 .about__list{
   flex-direction: column;
   justify-content: center;

 }
 .about__item{
   margin-bottom: 20px;
   margin-right: 20px;
 }
}



