.feedback-wraper {
  width: 100%;
  height: 421px;
  margin-bottom: 100px;
}

.feedback {
  display: flex;
  flex-direction: row;
  height: 421px;
   &__desc {
    width: 410px;
    margin-top: 40px;
    
    }

  &__content {
    width: 890px;
    height: 450px;
    
    background: url("../image/feedback.png") no-repeat;
   
       
  }
}
.desc__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  

  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.desc__des {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-top: 40px;
width: 450px;
  text-transform: uppercase;
}
.feedback-btn {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: $red;
  margin-left: 48%;
  margin-top: 20%;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    display: inline-block;
    background: linear-gradient(0deg, $red 100%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    opacity: 0.3;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -14px;
    left: -14px;
    animation: promo-btn 1.8s linear infinite;
  }
  &::after {
    content: "";
    width: 140px;
    height: 140px;
    display: inline-block;
    background: linear-gradient(0deg, $red 100%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    opacity: 0.1;
    position: absolute;
    top: -33px;
    left: -33px;
    animation: promo-btn 1.8s linear infinite;
    animation-delay: 0.3s;
  }
}
@keyframes promo-btn {
  0% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
  }
}
.feedback-btn__img {
  padding: 22px 0 0 28px;
}
.feedback__btn {
  
  
  writing-mode:vertical-rl;
  transform:scale(-1);
  width:52px;
  margin-right:23px;
 
}
.btn__massege {
  margin-right: 40px;
  display: inline-block;
  
}
.feedback__video{
  display: inline-block;
}

.btn-next{
  position: absolute;
  display: inline-block;
  width: 72px;
height: 72px;
background: $white;
padding: 20px 0 0 29px;
    margin-left: 815px;

}
.btn-prev{
  position: absolute;
  display: inline-block;
  width: 72px;
height: 72px;
background: $white;
padding: 20px 0 0 29px;
    margin-left: 743px;

}