ul{
  padding: 0;
  margin: 0;
}

.button-home {
  position: fixed;
  background: $white;
width: 48px;
height: 48px;
border: 1px solid $black;
right: 5%;
top: 10%;

z-index: $z-fixed-button;
transition:1s;
}
.button-home-img{
  padding: 21px 18px 20px 18px;
}
.header__line {
  background: $black;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $white;
}
.language {
  color: $gray;
  &__en::after {
    content: "/";
    margin-left: 6px;
    cursor: pointer;
  }
  &__en--active {
    color: $white;
    cursor: pointer;
  }
  &__ru:hover {
    color: $white;
    cursor: pointer;
  }
}
.avtorization {
  display: flex;
  flex-direction: row;
  color: $gray;
  &__user {
    margin-right: 10px;
    &:hover {
      color: $white;
      cursor: pointer;
    }
  }

  &__user::before {
    content: "";
    display: inline-block;
    background: url("/image/user.png");
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  &__user::after {
    content: "|";
    margin-left: 11px;
  }
  &__registration {
    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 24px;
  color: $black;
  font-size: 15px;
}
.nav__item {
  text-decoration: none;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  &:hover{
    color: $red;
  }
  &--link:hover {
    color: $red;
  }

  &--status::before {
    content: "";
    display: inline-block;
    background: url("/image/group.png");
    margin-right: 10px;

    width: 14px;
    height: 14px;
    text-align: center;
  }
}
.hamburger-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.hamburger__menu {
  position: relative;

  height: 3px;
  width: 12px;
  background-color: $black;
  &::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 32px;
    top: -10px;
    background-color: $black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 22px;
    top: 10px;
    background-color: $black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  
}
.hamburger__menu.hamburger__menu--active {
  background-color: transparent;
  &::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &::after {
    transform: rotate(-45deg);
    width: 32px;
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}

.hamburger__container {
  display: none;
  position: absolute;
  margin-top: 27px;
  width: 700px;
  height: 400px;
  background-color: $white;
}

.hamburger__container.hamburger__container--active {
  display: block;
}

.hamburger__row {
  display: flex;
  padding-left: 92px;
}
.hamburger__left {
  margin-right: 115px;
}
.hamburger__item {
  list-style: none;
  color: $black;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 40px;
}
a {
  color: $black;
}
.hamburger__item a:hover {
  color: $red;
  text-decoration: none;
}
.btn {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  &--red{
    background: $red;
  color: $white;
  padding: 14px 16px;
   &:hover {
    background: $white;
    color: $red;
    border: 1px solid $red;
  }
}
 &--black{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  background:  $white;
  color:$black;
  padding: 17px 56px;
  border: 1px solid $black;
&:hover{
  background: $black;
  color: $white;
}
}
}


.phone-header {
  text-decoration: none;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}
.order-phone {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $red;
}
