@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic-Italic.eot");
  src: local("Century Gothic Italic"), local("CenturyGothic-Italic"), url("CenturyGothic-Italic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-Italic.woff") format("woff"), url("CenturyGothic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic.eot");
  src: local("Century Gothic"), local("CenturyGothic"), url("CenturyGothic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic.woff") format("woff"), url("CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic-Bold.eot");
  src: local("Century Gothic Bold"), local("CenturyGothic-Bold"), url("CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-Bold.woff") format("woff"), url("CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic-BoldItalic.eot");
  src: local("Century Gothic Bold Italic"), local("CenturyGothic-BoldItalic"), url("CenturyGothic-BoldItalic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-BoldItalic.woff") format("woff"), url("CenturyGothic-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
ul {
  padding: 0;
  margin: 0;
}

.button-home {
  position: fixed;
  background: #ffffff;
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  right: 5%;
  top: 10%;
  z-index: 100;
  transition: 1s;
}

.button-home-img {
  padding: 21px 18px 20px 18px;
}

.header__line {
  background: #000000;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
}

.language {
  color: #939598;
}
.language__en::after {
  content: "/";
  margin-left: 6px;
}
.language__en--active {
  color: #ffffff;
}

.avtorization {
  display: flex;
  flex-direction: row;
  color: #939598;
}
.avtorization__user {
  margin-right: 10px;
}
.avtorization__user:hover {
  color: #ffffff;
}
.avtorization__user::before {
  content: "";
  display: inline-block;
  background: url("../image/user.png");
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.avtorization__user::after {
  content: "|";
  margin-left: 11px;
}
.avtorization__registration:hover {
  color: #ffffff;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 24px;
  color: #000000;
  font-size: 15px;
}

.nav__item {
  text-decoration: none;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.nav__item:hover {
  color: #ed1c29;
}
.nav__item--link:hover {
  color: #ed1c29;
}
.nav__item--status::before {
  content: "";
  display: inline-block;
  background: url("/image/group.png");
  margin-right: 10px;
  width: 14px;
  height: 14px;
  text-align: center;
}

.hamburger-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.hamburger__menu {
  position: relative;
  height: 3px;
  width: 12px;
  background-color: #000000;
}
.hamburger__menu::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 32px;
  top: -10px;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.hamburger__menu::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 22px;
  top: 10px;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.hamburger__menu.hamburger__menu--active {
  background-color: transparent;
}
.hamburger__menu.hamburger__menu--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.hamburger__menu.hamburger__menu--active::after {
  transform: rotate(-45deg);
  width: 32px;
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.hamburger__container {
  display: none;
  position: absolute;
  margin-top: 27px;
  width: 700px;
  height: 400px;
  background-color: #ffffff;
}

.hamburger__container.hamburger__container--active {
  display: block;
}

.hamburger__row {
  display: flex;
  padding-left: 92px;
}

.hamburger__left {
  margin-right: 115px;
}

.hamburger__item {
  list-style: none;
  color: #000000;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 40px;
}

a {
  color: #000000;
}

.hamburger__item a:hover {
  color: #ed1c29;
  text-decoration: none;
}

.btn {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.btn--red {
  background: #ed1c29;
  color: #ffffff;
  padding: 14px 16px;
}
.btn--red:hover {
  background: #ffffff;
  color: #ed1c29;
  border: 1px solid #ed1c29;
}
.btn--black {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  background: #ffffff;
  color: #000000;
  padding: 17px 56px;
  border: 1px solid #000000;
}
.btn--black:hover {
  background: #000000;
  color: #ffffff;
}

.phone-header {
  text-decoration: none;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
}
.phone-header:hover {
  color: #ed1c29;
  text-decoration: none;
}

.order-phone {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ed1c29;
}

.hero {
  width: 100%;
  height: 678px;
  background: url("/image/heade.png") center center no-repeat;
  margin-bottom: 100px;
}

.about-wraper {
  margin-bottom: 90px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.about__item {
  border: 1px solid #939598;
  width: 206px;
  height: 249px;
  margin-right: 22px;
}
.about__item:last-child {
  margin-right: 0;
}

.title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.item-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: Century Gothic;
  font-style: normal;
  font-size: 15px;
}
.item-box__img {
  width: 41px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 28px;
}
.item-box__title {
  font-weight: bold;
}
.item-box__title:hover {
  color: #ed1c29;
  cursor: pointer;
}
.item-box__desc {
  font-weight: normal;
}

.preview-wraper {
  margin-bottom: 100px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.preview__list {
  margin-bottom: 40px;
}
.preview__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  padding: 14px 14px 0 14px;
  text-transform: uppercase;
}
.preview__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 14px 14px 21px 14px;
}
.preview__list {
  display: flex;
  flex-direction: column;
}
.preview__list-one {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}
.preview__list-two {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preview__item {
  width: 300px;
  height: 30px;
}
.preview__item-one {
  border: 1px solid #939598;
  margin-right: 22px;
}
.preview__item-one:last-child {
  margin-right: 0;
}
.preview__item-two {
  display: flex;
  flex-direction: row;
  border: 1px solid #939598;
  margin-right: 22px;
}
.preview__item-two:last-child {
  margin-right: 0;
}

.preview .title {
  width: 941px;
  text-align: center;
}

.promo-wraper {
  margin-bottom: 100px;
  position: relative;
  height: 500px;
  position: relative;
}

.promo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: absolute;
  color: #ffffff;
  margin-left: 22%;
}
.promo-text__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.promo-text__desc {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-bottom: 50px;
}

.promo-btn {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #ed1c29;
  position: relative;
}
.promo-btn::before {
  content: "";
  display: inline-block;
  background: linear-gradient(0deg, #ed1c29 100%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  opacity: 0.3;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -14px;
  left: -14px;
  animation: promo-btn 1.8s linear infinite;
}
.promo-btn::after {
  content: "";
  width: 140px;
  height: 140px;
  display: inline-block;
  background: linear-gradient(0deg, #ed1c29 100%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  top: -33px;
  left: -33px;
  animation: promo-btn 1.8s linear infinite;
  animation-delay: 0.3s;
}

@keyframes promo-btn {
  0% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
  }
}
.promo-btn__img {
  padding: 22px 0 0 5px;
}

.favorit-wraper {
  background: #000000;
  width: 100%;
  height: 700px;
  margin-bottom: 100px;
}

.favorit {
  display: flex;
  width: 100%;
  height: 686px;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
  align-items: center;
}
.favorit__title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
}
.favorit-text {
  font-size: 32px;
  margin-bottom: 20px;
}
.favorit__list {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.favorit__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 232px;
  margin-right: 137px;
}
.favorit__item:last-child {
  margin-right: 0;
}
.favorit-des {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}
.favorit-desc {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  margin-top: 24px;
}

.favorit-box {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #1C415C;
  padding: 55px;
}

.favorit-box-one {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: url("../image/favorit/dashed.png") no-repeat;
  padding: 55px;
}

.favorit-text-red {
  color: #ed1c29;
}

.request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 150px;
  margin-bottom: 100px;
}
.request__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 26px;
}
.request__desc {
  padding-bottom: 20px;
}
.request__form {
  display: flex;
  flex-direction: row;
}

.desc {
  text-transform: uppercase;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
}
.desc-red {
  color: #ed1c29;
}
.desc-black {
  color: #000000;
}

.form {
  display: flex;
}
.form__input {
  width: 260px;
  height: 56px;
  margin-right: 30px;
  background: #F1F2F2;
  border: 0px;
}

.btn-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  background: #ed1c29;
  color: #ffffff;
  padding: 17px 57px;
  text-transform: uppercase;
}
.btn-form:hover {
  background: #ffffff;
  color: #ed1c29;
  border: 1px solid #ed1c29;
  cursor: pointer;
}

.yourself-wraper {
  background: #000000;
  width: 100%;
  height: 700px;
  margin-bottom: 100px;
}

.yourself {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 100px;
}
.yourself__desc {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-right: 16px;
  justify-content: center;
}
.yourself__title {
  text-transform: uppercase;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 43px;
}
.yourself__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.yourself__btn {
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 17px 27px;
  width: 206px;
}
.yourself__btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background: #ffffff;
}
.yourself__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.yourself__item {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 500px;
  margin-right: 22px;
}
.yourself__item:last-child {
  margin-right: 0;
}
.yourself__item-one {
  background: url("../image/favorit/one.png");
}
.yourself__item-two {
  background: url("../image/favorit/two.png");
}
.yourself__item-three {
  background: url("../image/favorit/three.png");
}

.item__coll {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding-left: 14px;
  padding-right: 19px;
  width: 100%;
  padding-bottom: 24px;
  background: linear-gradient(0deg, #000000 -20%, rgba(0, 0, 0, 0) 100%);
}

.coll__hesh {
  color: #ffffff;
  background: #ed1c29;
  padding: 4px;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 14px;
}

.coll__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}

.coll__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.04em;
  margin-bottom: 38px;
  height: 96px;
}

.coll__img {
  width: 72px;
  height: 16px;
  background: url("../image/arrow.png") no-repeat;
}
.coll__img:hover {
  background: url("../image/news/arrow-red.png");
  width: 152px;
  height: 16px;
  transition: all 500ms ease;
}

.adress-wraper {
  margin-bottom: 100px;
}

.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adress__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1300px;
}
.adress__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}
.adress__item {
  width: 320px;
  height: 320px;
  margin-right: 22px;
  margin-bottom: 22px;
  border: 1px solid #DCE5E7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 50px 14px 14px 14px;
}
.adress__item:hover {
  border: 1px solid #ed1c29;
}

.adress__map {
  width: 662px;
  height: 662px;
  border: 1px solid firebrick;
}

.item__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.item__phone, .item__mail, .item__adress {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.item__adress-title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
}

.news-wraper {
  margin-bottom: 100px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.news__item {
  width: 434px;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
}
.news__item:last-child {
  margin-right: 0px;
}
.news__preview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: flex-end;
  margin-bottom: 24px;
}
.news__preview-one {
  background: url("../image/news/one.png");
  width: 434px;
  height: 350px;
}
.news__preview-two {
  background: url("../image/news/two.png");
  width: 434px;
  height: 350px;
}
.news__preview-three {
  background: url("../image/news/three.png");
  width: 434px;
  height: 350px;
}
.news__preview-hesh {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #ed1c29;
  padding: 4px;
  margin: 0 5px 10px 0;
}
.news__preview-hesh:first-child {
  margin-left: 10px;
}
.news__datetime {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #939598;
  margin-bottom: 20px;
}
.news__datetime::before {
  content: "";
  background: url("../image/news/clock.png") no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: -1px auto;
}
.news__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
}
.news__content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 24px;
}

.news__img {
  background: url("../image/news/arrow.png");
  width: 72px;
  height: 16px;
  margin-top: auto;
}
.news__img:hover {
  background: url("../image/news/arrow-red.png");
  width: 152px;
  height: 16px;
  transition: all 500ms ease;
}

.partners-wraper {
  margin-bottom: 100px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.partners__item {
  width: 320px;
  height: 150px;
  border: 1px solid #DCE5E7;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.partners__item:last-child {
  margin-right: 0px;
}
.partners__line {
  width: 100%;
  border: 1px solid #F1F2F2;
  margin-bottom: 50px;
}