.preview-wraper{
  margin-bottom: 100px;
}
.preview {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  
  &__list{
    margin-bottom: 40px;
  }
  &__title {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    padding: 14px 14px 0 14px;
    text-transform: uppercase;
    order: 2;
    
  }
  &__desc {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 14px 14px 21px 14px;
    order: 2;
  }
  &__list {
    display: flex;
    flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 22px;
      list-style: none;
  }

  &__item {
    width: 320px;
    border: 1px solid $border;
    margin-right: 22px;
    min-height: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.item-wide{
  display: flex;
flex-direction: row;
width: 663px;
height: 320px;
}
.preview.title {
  width: 941px;
  text-align: center;
  
}
.preview__img{
  width: 100%;
 height: 100%;  
   margin-top: auto;
  order: -1;
  &-two{
    order: 5;
    margin-top: auto;
  }
  

}
.preview__item .item-wide{
  background: chocolate;
  margin-right: 0;
}