.preview-wraper{
  margin-bottom: 100px;
}
.preview {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  &__list{
    margin-bottom: 40px;
  }
  &__title {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    padding: 14px 14px 0 14px;
    text-transform: uppercase;
  }
  &__desc {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 14px 14px 21px 14px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    &-one {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-bottom: 22px;
    }
    &-two {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    width: 300px;
    height: 30px;
    &-one {
      border: 1px solid $gray;
      margin-right: 22px;
      
      &:last-child {
        margin-right: 0;
      }
    }
    &-two {
      display: flex;
      flex-direction: row;
      border: 1px solid $gray;
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.preview .title {
  width: 941px;
  text-align: center;
}
