
.promo {
  
 
  color: $white;
 
  margin-bottom: 100px;

  height: 500px;
&__block{
  background: url("../image/foto.png");
  display: flex;
  flex-direction: column;
   height: 450px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

  &-text__title {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  &-text__desc {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-bottom: 50px;
  }
}
.promo-btn {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: $red;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    background: linear-gradient(0deg, $red 100%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    opacity: 0.3;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -14px;
    left: -14px;
    animation: promo-btn 1.8s linear infinite;
  }
  &::after {
    content: "";
    width: 140px;
    height: 140px;
    display: inline-block;
    background: linear-gradient(0deg, $red 100%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    opacity: 0.1;
    position: absolute;
    top: -33px;
    left: -33px;
    animation: promo-btn 1.8s linear infinite;
    animation-delay: .3s;
  }
}
@keyframes promo-btn{
  0%{
    transform: scale(0.2);
    opacity: 0.1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    transform: scale(1);
  }

}
.promo-btn__img {
  padding: 22px 0 0 5px;
}
